<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxz.wulibibiji.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.yxz.wulibibiji.entity.Comment">
            <id property="commentId" column="comment_id" jdbcType="INTEGER"/>
            <result property="commentArticleId" column="comment_article_id" jdbcType="INTEGER"/>
            <result property="commentUserId" column="comment_user_id" jdbcType="VARCHAR"/>
            <result property="commentContent" column="comment_content" jdbcType="VARCHAR"/>
            <result property="commentLikeCount" column="comment_like_count" jdbcType="INTEGER"/>
            <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
            <result property="commentCreatedTime" column="comment_created_time" jdbcType="TIMESTAMP"/>
            <result property="commentParentId" column="comment_parent_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        comment_id,comment_article_id,comment_user_id,
        comment_content,comment_like_count,comment_count,
        comment_created_time,comment_parent_id
    </sql>
</mapper>
