<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxz.wulibibiji.mapper.FirstcommentMapper">

    <resultMap id="BaseResultMap" type="com.yxz.wulibibiji.entity.Firstcomment">
            <id property="firstCommentId" column="first_comment_id" jdbcType="INTEGER"/>
            <result property="firstCommentArticleId" column="first_comment_article_id" jdbcType="INTEGER"/>
            <result property="firstCommentUserId" column="first_comment_user_id" jdbcType="VARCHAR"/>
            <result property="firstCommentContent" column="first_comment_content" jdbcType="VARCHAR"/>
            <result property="firstCommentLikeCount" column="first_comment_like_count" jdbcType="INTEGER"/>
            <result property="firstCommentCount" column="first_comment_count" jdbcType="INTEGER"/>
            <result property="firstCommentCreatedTime" column="first_comment_created_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        first_comment_id,first_comment_article_id,first_comment_user_id,
        first_comment_content,first_comment_like_count,first_comment_count,
        first_comment_created_time
    </sql>
</mapper>
