<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxz.wulibibiji.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="com.yxz.wulibibiji.entity.Message">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="fromId" column="from_id" jdbcType="VARCHAR"/>
        <result property="toId" column="to_id" jdbcType="VARCHAR"/>
        <result property="conversionId" column="conversion_id" jdbcType="VARCHAR"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,from_id,to_id,
        conversion_id,content,status,
        created_time
    </sql>

    <select id="selectListPage" resultType="com.yxz.wulibibiji.entity.Message">
        SELECT
            message.*,
            a.avatar AS from_avatar,
            a.nickname AS from_nickname,
            b.avatar AS to_avatar,
            b.nickname AS to_nickname,
            m.unread AS unread
        FROM message
        LEFT JOIN `user` a ON a.user_id = message.from_id
        LEFT JOIN `user` b ON b.user_id = message.to_id
        LEFT JOIN (
        SELECT conversion_id, COUNT(*) AS unread FROM message
        WHERE `status` = 0 AND to_id = #{my_id}
        GROUP BY conversion_id
        ) m ON m.conversion_id = message.conversion_id
        WHERE
        id IN ( SELECT MAX( id ) FROM message
            <where>
                ${ew.sqlSegment}
            </where>
        GROUP BY conversion_id
        )
        ORDER BY id DESC
        LIMIT #{offset},#{size}
    </select>

    <select id="getNoticeList" resultType="com.yxz.wulibibiji.entity.Message">
        select message.*, m.unread
        from message
        left join (
            SELECT conversion_id, COUNT(*) AS unread
            FROM message
            WHERE `status` = 0  AND from_id = "1"
              and to_id = #{email}
            GROUP BY conversion_id) m ON message.conversion_id = m.conversion_id
        where id in (select max(id) from message where status != 2  and from_id = 1 and to_id = #{email}
        GROUP BY conversion_id)
    </select>


    <select id="selectLatestNotice" resultType="com.yxz.wulibibiji.entity.Message">
        select *
        from message
        where id in (
        select max(id) from message
        where status != 2
        and from_id = 1
        and to_id = #{userId}
        and conversion_id = #{topic}
        )
    </select>

</mapper>
