<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxz.wulibibiji.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.yxz.wulibibiji.entity.User">
            <id property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="salt" column="salt" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="sex" column="sex" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,nickname,password,
        salt,avatar,create_time,
        sex
    </sql>
</mapper>
